﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  /*background-color: #fdba2c;*/
  z-index:9999;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 90%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #3b78e7;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #da4733;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 0%; width: 0;z-index:100;}
    60.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
